
input[type="submit"] {
	-webkit-appearance: none;
}
*, *:after, *:before {
	box-sizing: border-box;
	margin: 2px;
	padding: 0;
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: 500;
	color: #202342;
	font-family: 'Inter', sans-serif;
}


.card-box, .da-card{
	background-color: #ffffff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 28px rgba(0, 0, 0, .08);
	-moz-box-shadow: 0px 0px 28px rgba(0, 0, 0, .08);
	box-shadow: 0px 0px 28px rgba(0, 0, 0, .08);
}



.widget-style1{
	padding: 10px;
}
.widget-style1 .widget-data{
	width: calc(100% - 80px);
	padding: 0 5px 0 15px;
	color: black;
}
.widget-style1 .progress-data{
	width: 80px;
}
.widget-style1 .progress-data .apexcharts-canvas{
	margin: 0 auto;
}

.widget-style2 .widget-data{
	padding: 20px;
}

.widget-style3{
	padding: 0px;
	overflow: hidden;
}
.widget-style3 .widget-data{
	width: calc(100% - 60px);
	padding: 20px 15px;
}
/*.widget-style3 .widget-icon{
	width: 60px;
	font-size: 30px;
	line-height: 1;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #334148;
	color: #ffffff;
}*/

